body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/95/305/283/moon-background-desktop-wallpaper-preview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
}

p{
    color: white;
}